.container {
	margin: 0 0 0 2.7%;
}

/* Udacity Mug */
.img-responsive {
	width: 400px;
	height: 372px;
	margin: 0 0 32px 0;
}

/* Header */	
h1 {
	color: #666;
	font: normal normal lighter 48px/0 "Verdana", sans-serif;
}

.col-md-12 {	
	padding:52px 0 25px 260px;	
}

/* Left hand column */
.col-md-5 {
	margin: 22px 0 0 0; 		
}

/* Orange headers in both col-md-5 & col-md-7 */
h2 {
	color: #f07c17;
	font: normal normal bolder 24px/0 "Verdana", sans-serif;
	width: 651px;
	margin: 33px 0 43px 0;	
}

/* Border & content below the Udacity Mug */
.bordered-section {
	font: normal normal normal 16px/32px "Verdana", sans-serif;
	width: 374px;
	border: 1px solid #ccc;
	padding: 10px 0 28px 30px;
}

/* Text in the right column */
p {
	font: normal normal normal 16px/32px "Verdana", sans-serif;
}

